[submodule ".config/kitty/kitty_search"]
	path = .config/kitty/kitty_search
	url = https://github.com/trygveaa/kitty-kitten-search
[submodule "/Users/yves/.config/opencode/plugins/shell-strategy"]
	path = /Users/yves/.config/opencode/plugins/shell-strategy
	url = https://github.com/JRedeker/opencode-shell-strategy.git
